/*
    The background color of a page is set like this
*/
body{
    background-color: lightblue;
}

div{
    background-color: green;
    opacity: 0.3; /* The opacity property 
        specifies the opacity/transparency of an element.*/
    
    background: rgba(0, 129, 0, 0.4); /*Green background with 40% opacity */
}

div{

    background-image: url("paper.gif");/*Set the background image for a page*/ 
    background-repeat: repeat-x;

}

body{
    background-image: url("img.png");
    background-repeat: no-repeat; /* show the background image only once */
    background-position: right top;/* position the background image in 
                                        the top-right corner */
}

body{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;/* specify that the background image should be fixed */
}


body{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;/* specify that the background image should be fixed */
}
/* CSS Background Shorthand */
body{
    background-color: #ffffff;
    background-image: url("images/myImage.gif");
    background-repeat: no-repeat;
    background-position: right top;
}
/*Use the shorthand property to set the background properties in one declaration:*/
body{
    background: #ffffff url("images/myImage.gif") no-repeat right top;
}
