.dotted{
    border-style: dotted;
    border-width: medium;
    border-color: blue;
}
.dashed{
    border-style: dashed;
    border-width: 4px;
    border-color: blueviolet;

}
.solid{
    border-style: solid;
    border-width: 5px 7px 3px 2px;
    border-color: red green blue yellow;
}
.double{
    border-style: double;
    border-width: thick;
    border-color: #ff0000
}
.groove{
    border-style: groove;
    border-width: 4px;
    border-color: rgb(255, 0, 0);
}
.ridge{
    border-style: ridge;
    border-width: 4px;
    border-color: hsl(0, 100%, 50%);
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.mix{
    border-style: dotted dashed solid double;
}
h2{
    border: 3px solid red;
    border-radius: 10px;

}
#first{
    border-bottom: 4px solid #123456;
}