.dotted{
    border-style: dotted;
    border-width: medium;
}
.dashed{
    border-style: dashed;
    border-width: 4px;
}
.solid{
    border-style: solid;
    border-width: 5px 7px 3px 2px;
}
.double{
    border-style: double;
    border-width: thick;
}
.groove{
    border-style: groove;
    border-width: 4px;
}
.ridge{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.mix{
    border-style: dotted dashed solid double;
}