body{
    color: black;
    

}
h1{
    color: brown;
}

h2{
    color: red;
}

#divOnce h1{
    text-align: center;
}
#divOnce h2{
    text-align: left;
}
#divOnce h3{
    text-align: right;
}

#last{
    text-align-last: center;
}
#dirc{
    direction: ltr;
    unicode-bidi: bidi-override;
}
.a{
    vertical-align: baseline;
}
.b{
    vertical-align: text-top;
}
.c{
    vertical-align: text-bottom;
}
.d{
    vertical-align: sub;
}
.e{
    vertical-align: super;
}
.none{
    text-decoration: none; 
}
.overline{
    text-decoration: overline;
}
.line-through{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
p.uppercase{
    text-transform: uppercase;
}
p.lowercase{
    text-transform: lowercase;
}
p.capitalize{
    text-transform: capitalize;
}